/* style.css */

* {
  box-sizing: border-box;
  text-align: center;
}
body {
  margin-top: 100px;
  color: black;
  overflow: hidden;
  background-color: #012641;
}
div.container {
  box-shadow: 2px 2px 10px black;
  background-color: #f4fbfd;
  border-radius: 20px;
  padding: 30px;
  display: inline-block;
  width: 60%;
}
h1 {
  font-size: 3rem;
}
input {
  outline: none;
  border-radius: 10px;
  border: 2px solid #012641;
  width: 70%;
  height: 50px;
  background-color: aliceblue;
}
.green {
  background-color: #62d5ff;
  border-radius: 10px;
  width: 70%;
  color: black;
  display: inline-block;
  padding: 10px;
}
input:focus {
  background-color: white;
  outline: none;
}

button {
  color: white;
  border-radius: 10px;
  border: none;
  background-color: #012641;
  width: 70%;
  height: 50px;
  font-size: 18px;
}
p {
  font-size: 20px;
}

@media only screen and (max-width: 1200px) {
  div.container {
    width: 70%;
  }
}
@media only screen and (max-width: 1000px) {
  div.container {
    width: 70%;
  }
}
@media only screen and (max-width: 900px) {
  div.container {
    width: 70%;
  }
}
@media only screen and (max-width: 700px) {
  div.container {
    width: 90%;
  }
}
